.App-header{
  background-color: beige;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  color: rgb(204, 143, 13);

}
select,button{
  padding: 15px;
  margin: 5px;
  border: none;
  background-color: rgb(235, 225, 170);
  color: rgb(16, 19, 5);
  border-radius:50px;
  cursor:pointer;
  text-align: center;
}